*/node_modules
*.env

ai-service/textures/Untitled.ipynb
*.xml
*.pyc
*.ipynb
*.iml
ai-service/.ipynb_checkpoints/outer-checkpoint.jpg
ai-service/.ipynb_checkpoints/o-checkpoint.png
ai-service/.ipynb_checkpoints/mask-checkpoint.png
ai-service/.ipynb_checkpoints/inner-checkpoint.jpg
ai-service/.ipynb_checkpoints/dirt-checkpoint.jpg
ai-service/.ipynb_checkpoints/concrete-checkpoint.jpg
ai-service/.ipynb_checkpoints/tiles2-checkpoint.jpg
ai-service/.ipynb_checkpoints/tiles-checkpoint.jpg
ai-service/.ipynb_checkpoints/gold-checkpoint.jpg
ai-service/o.png
ai-service/mask.png
ai-service/mask.png
ai-service/disp_mask.png
ai-service/disp.jpg
ai-service/mask.png
*/.vscode
